# Blockchain
RPC_URL=https://1rpc.io/eth
BLOCKCHAIN_PROVIDER_TYPE=viem

# Server
PORT=3000

# Cache
CACHE_STORE_TYPE=IN_MEMORY
REDIS_URL=redis://localhost:6379
CACHE_DEFAULT_TTL_MS=600000

# Logging
NODE_ENV=development
LOG_LEVEL=info
